:root {
--red: red; 
--black: black;
}  
body {
background: #d9c6b2;
margin: 0;
padding: 0; 
}  
* {
box-sizing: border-box;  
font-family: "Audiowide";  
}
header {
background: linear-gradient(to left, var(--red), var(--black));
padding: 15px 30px;
display: flex;
position: relative;
align-items: center;
justify-content: space-between;
}
div#one {
color: white;
font-weight: bold;
font-size: 24px;
margin: 0 0 0 4%;
padding: 0;
transition: color .3s;
}
footer {
background: linear-gradient(to left, var(--red), var(--black));
display: flex;
font-size: 24px;
padding: 35px 30px;
margin: 12% 0 0 0;
align-items: center;
justify-content: center;
}
ul {
list-style: none;
display: flex;
margin: 0 4% 0 0;
padding: 0;
gap: 20px;  
}
li a {
color: white;
text-decoration: none;
font-weight: 600;  
transition: color .3s;  
}
li a:hover {
color: black; 
}
p#f {
display: inline-block;
margin: 5% 0 0 41%;    
font-size: 25px;
text-align: center;
}
p#s {
font-family:monospace;
text-align: center; 
font-size: 20px;   
}
a#s {
font-weight: 200;    
text-decoration: none;
transition: all .3s;  
color: black;  
}
a#s:hover {
color: red;
font-size: 22px;    
}
i#l {
padding: 0;
font-size: 30px;
transition: all .3s;
color: white;  
}
i#l:hover {
transform: translateY(-5px);  
color: #0072b1;  
}
i#g {
padding: 0;
font-size: 30px;
transition: all .3s;
color: white;   
}
i#g:hover {
transform: translateY(-5px);  
color: #c6cdd5;  
}
i#y {
padding: 0;
font-size: 30px;
transition: all .3s;
color: white;  
} 
i#y:hover {
transform: translateY(-5px);  
color: red;  
}
p#e {
color: white;
font-size: 23px;
}
img {
margin: 0 0 0 47.5%;  
}
button {
margin: 1% 0 0 47.5%;
padding: 0;
font-size: 18px;
height: 30px;
width: 5%;
background-color: #c6cdd5;
color: black; 
cursor: pointer;   
border-radius: 5%;
transition: transform .3s;
}
button:hover {
transform: translateY(-5px);
}